{% extends 'layout.html' %}

{% block title %}
    Profile
{% endblock title %}

{% block main %}
    <div style="margin-top: 2%" class="container">
        <form action="/profile" method="post">
            <h3  class="register">Change password</h3>
            <div class="form-group">
              <input class="form-control" name="password" placeholder="Password" type="password">
            </div>
            <div class="form-group">
              <input class="form-control" name="confirmation" placeholder="Repeat password" type="password">
            </div>
            <button class="btn btn-primary">Update password</button>
        </form>
    </div>
{% endblock main %}